@import url('./reset.css');
@import url("https://p.typekit.net/p.css?s=1&k=ced8ump&ht=tk&f=28982.28991.28992&a=5103312&app=typekit&e=css");
@import url("https://use.typekit.net/ced8ump.css");
@font-face {
  font-family: "termina";
  src: url("https://use.typekit.net/af/bd6372/00000000000000003b9adf1f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/bd6372/00000000000000003b9adf1f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/bd6372/00000000000000003b9adf1f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "termina";
  src: url("https://use.typekit.net/af/298959/00000000000000003b9adf28/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/298959/00000000000000003b9adf28/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/298959/00000000000000003b9adf28/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "termina";
  src: url("https://use.typekit.net/af/9a8a6b/00000000000000003b9adf29/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/9a8a6b/00000000000000003b9adf29/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/9a8a6b/00000000000000003b9adf29/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('../fonts/SpaceGrotesk-Bold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Light';
  src: url('../fonts/SpaceGrotesk-Light.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Medium';
  src: url('../fonts/SpaceGrotesk-Medium.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 49, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000349}}
body {
  font-family: "termina", sans-serif;
  font-style: normal;
  font-weight: 100;
  background-color: #000000;
}
/* line 56, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000356}}
html,
body {
  overflow-x: hidden;
}
/* line 60, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000360}}
.wrapper {
  max-width: 1636px;
  margin: 0 auto;
  padding: 0;
}
/* line 67, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000367}}
section.top-banner {
  background: #000000 url(../img/main_bg.png) no-repeat top right;
  background-size: contain;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  background-position-x: 85%;
}
/* line 75, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000375}}
section.top-banner header {
  padding: 72px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 79, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000379}}
section.top-banner .content-row {
  height: calc(100vh - 229px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 86, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000386}}
section.top-banner .content-row .banner-content {
  text-align: left;
}
/* line 88, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000388}}
section.top-banner .content-row .banner-content .banner-title {
  text-transform: uppercase;
}
/* line 91, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000391}}
section.top-banner .content-row .banner-content span.banner-title {
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 2px;
  font-family: "termina", sans-serif;
  font-weight: 700;
}
/* line 99, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\0000399}}
section.top-banner .content-row .banner-content h1.banner-title {
  font-family: "termina", sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: #E1682D;
  letter-spacing: 5px;
  margin: 8px 0;
}
/* line 107, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003107}}
section.top-banner .content-row .banner-content p.banner-description {
  font-family: 'SpaceGrotesk-Light', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 390px;
  max-width: 100%;
  margin-top: 42px;
  letter-spacing: 0.5px;
}
/* line 116, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003116}}
section.top-banner .content-row .banner-content p.banner-description.extra {
  margin-top: 20px;
}
/* line 119, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003119}}
section.top-banner .content-row .banner-content p.banner-description a {
  color: #E1682D;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 122, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003122}}
section.top-banner .content-row .banner-content p.banner-description a:hover {
  color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 132, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003132}}
section.top-banner .banner-down {
  background-image: url(../img/arrow-icon.svg);
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 30px;
  background-size: contain;
  margin: 0 auto;
  -webkit-animation: move_down 2s ease-in-out infinite;
  animation: move_down 2s ease-in-out infinite;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
}
/* line 148, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003148}}
section.top-banner .banner-down:hover,
section.top-banner .banner-down:focus {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  outline: none;
}
/* line 157, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003157}}
section.sponsors-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}
/* line 163, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003163}}
section.events-box {
  max-width: 1084px;
  margin: 145px auto 320px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}
/* line 171, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003171}}
section.events-box h2.event-title {
  font-family: "termina", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 2px;
  color: #fff;
  padding-bottom: 70px;
  border-bottom: 1px solid #fff;
}
/* line 181, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003181}}
section.events-box .event-item {
  padding: 35px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #fff;
}
/* line 186, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003186}}
section.events-box .event-item p.event-descr {
  font-family: "termina", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}
/* line 194, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003194}}
section.events-box .event-item h3.event-item-title {
  font-family: "termina", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #E1682D;
  margin-top: 30px;
  margin-bottom: 5px;
}
/* line 207, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003207}}
footer {
  padding: 90px 0 75px 0;
  background-color: #222222;
  max-height: 370px;
}
/* line 211, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003211}}
footer .footer-title {
  text-align: left;
  padding: 0;
  font-family: "termina", sans-serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #E1682D;
  text-transform: uppercase;
}
/* line 222, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003222}}
footer .footer-contacts {
  padding: 0;
  color: #fff;
}
/* line 225, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003225}}
footer .footer-contacts h4 {
  font-family: "termina", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 234, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003234}}
footer .footer-contacts p {
  font-family: 'SpaceGrotesk-Light';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
}
/* line 239, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003239}}
footer .footer-contacts p strong {
  color: #fff;
  margin-right: 5px;
  font-family: 'SpaceGrotesk-Bold';
}
/* line 244, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003244}}
footer .footer-contacts p a {
  color: #fff;
  -webkit-transition: all 300ms easy-in-out;
  transition: all 300ms easy-in-out;
}
/* line 247, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003247}}
footer .footer-contacts p a:hover {
  color: #E1682D;
  -webkit-transition: all 300ms easy-in-out;
  transition: all 300ms easy-in-out;
}
/* line 254, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003254}}
footer .footer-nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
/* line 259, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003259}}
footer .footer-nav a {
  color: #fff;
  -webkit-transition: all 300ms easy-in-out;
  transition: all 300ms easy-in-out;
  font-family: 'SpaceGrotesk-Light';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
}
/* line 266, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003266}}
footer .footer-nav a:hover {
  color: #E1682D;
  -webkit-transition: all 300ms easy-in-out;
  transition: all 300ms easy-in-out;
}
/* line 272, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003272}}
footer .footer-right {
  position: relative;
  padding: 0;
}
/* line 275, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003275}}
footer .footer-right .footer-logo {
  width: 285px;
  max-width: 100%;
}
/* line 278, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003278}}
footer .footer-right .footer-logo img {
  max-width: 100%;
  height: auto;
}
/* line 283, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003283}}
footer .footer-right .copyrights {
  color: #fff;
  font-family: 'SpaceGrotesk-Light';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  position: absolute;
  bottom: 0;
}
/* line 292, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003292}}
footer .footer-right .copyrights .small-device {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 306, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003306}}
  section.top-banner {
    background: #000000 url(../img/main_bg@2x.png) no-repeat top right;
    background-position-x: 85%;
    background-size: contain!important;
  }
}
@media only screen and (max-width: 1700px) {
  /* line 315, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003315}}
  .wrapper {
    max-width: 96%;
  }
}
@media only screen and (max-width: 1642px) {
  /* line 320, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003320}}
  footer .footer-right .copyrights .small-device {
    display: block;
  }
}
@media only screen and (min-width: 1340px) {
  /* line 325, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003325}}
  .slick-list.draggable {
    width: 100%;
  }
  /* line 328, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003328}}
  .sponsor-item.slick-slide {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
  }
}
@media only screen and (max-width: 1340px) {
  /* line 338, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003338}}
  .sponsor-item.slick-slide {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 1120px) {
  /* line 346, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003346}}
  footer .footer-title {
    font-size: 32px;
  }
  /* line 349, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003349}}
  footer .footer-contacts h4 {
    font-size: 16px;
  }
  /* line 352, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003352}}
  footer .footer-contacts p,
  footer .footer-nav a,
  footer .footer-right .copyrights {
    font-size: 14px;
    line-height: 21px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 361, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003361}}
  section.top-banner .content-row .banner-content h1.banner-title {
    font-size: 63px;
  }
  /* line 364, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003364}}
  section.events-box {
    margin: 145px auto;
  }
}
@media only screen and (max-width: 991px) {
  /* line 370, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003370}}
  section.top-banner {
    background: #000000 url(../img/main-bg-mobile.jpg) no-repeat top right;
  }
  /* line 373, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003373}}
  footer {
    max-height: inherit;
    padding: 60px 0 45px 0;
  }
  /* line 376, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003376}}
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 380, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003380}}
  footer .row div {
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  /* line 386, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003386}}
  footer .footer-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 388, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003388}}
  footer .footer-nav a:first-child {
    margin-right: 20px;
  }
  /* line 393, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003393}}
  footer .footer-right .footer-logo {
    margin: 15px auto 70px auto;
  }
  /* line 396, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003396}}
  footer .footer-right .copyrights {
    width: 100%;
    text-align: center;
  }
  /* line 404, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003404}}
  section.events-box h2.event-title,
  section.events-box .event-item h3.event-item-title {
    font-size: 30px;
    line-height: 40px;
  }
  /* line 409, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003409}}
  section.events-box .event-item p.event-descr {
    font-size: 18px;
  }
  /* line 413, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003413}}
  section.sponsors-box {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (max-width: 991px) {
  /* line 429, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003429}}
  section.top-banner {
    background: #000000 url(../img/main-bg-mobile@2x.jpg) no-repeat top right;
    background-position-x: 85%;
    background-size: contain!important;
  }
}
@media only screen and (max-width: 667px) {
  /* line 438, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003438}}
  section.top-banner .content-row .banner-content h1.banner-title {
    font-size: 50px;
  }
  /* line 441, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003441}}
  section.top-banner .content-row .banner-content span.banner-title {
    font-size: 35px;
  }
  /* line 444, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003444}}
  section.events-box h2.event-title,
  section.events-box .event-item h3.event-item-title {
    font-size: 25px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 568px) {
  /* line 452, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003452}}
  section.top-banner .content-row .banner-content span.banner-title,
  footer .footer-title {
    font-size: 21px;
  }
  /* line 456, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003456}}
  section.top-banner .content-row .banner-content h1.banner-title {
    font-size: 30px;
  }
  /* line 459, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003459}}
  section.events-box h2.event-title,
  section.events-box .event-item h3.event-item-title,
  section.events-box .event-item p.event-descr,
  footer .footer-contacts h4 {
    font-size: 14px;
    line-height: 23px;
  }
  /* line 465, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003465}}
  footer .footer-contacts p,
  footer .footer-nav a,
  footer .footer-right .copyrights {
    font-size: 12px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 414px) {
  /* line 472, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003472}}
  section.top-banner .banner-down {
    bottom: 25px;
  }
  /* line 475, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003475}}
  section.top-banner .content-row {
    height: calc(100vh - 161px);
  }
}
@media only screen and (max-width: 375px) {
  /* line 482, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003482}}
  header .header-logo a img {
    max-width: 90%;
  }
  /* line 485, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003485}}
  section.top-banner header {
    padding: 40px 0 110px 0;
  }
}
@media only screen and (min-device-width: 600px) and (orientation: landscape) {
  /* line 492, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003492}}
  section.top-banner {
    min-height: 600px;
  }
  /* line 495, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003495}}
  section.top-banner .banner-down {
    bottom: 0;
  }
  /* line 498, /Users/mmezhetska/Documents/GitHub/MMezhetskaya.github.io/strongdog/assets/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mmezhetska\/Documents\/GitHub\/MMezhetskaya\.github\.io\/strongdog\/assets\/css\/style\.less}line{font-family:\00003498}}
  section.sponsors-box {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
/*# sourceMappingURL=style.css.map */