@import "reset.css";
body {
  background: #005b93;
  font-family: 'Raleway', sans-serif;
}
.wrapper {
  width: 1075px;
  margin: 0 auto;
}
.inner_header {
  min-height: 150px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.inner_header .logo_container {
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
.inner_header .logo_container a.logo {
  display: inline-block;
}
.inner_header .logo_container a.logo :hover {
  cursor: pointer;
}
.inner_header .header_message {
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
.inner_header .header_message h2.header_title {
  letter-spacing: 3px;
  text-transform: uppercase;
}
.inner_header .header_message p.slogan {
  font-weight: 600;
  letter-spacing: 3.5px;
}
.inner_header .header_message p.number_lesson {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.video_box {
  height: 600px;
  margin-bottom: 80px;
  background: transparent;
}
.video_box .wrapper_video {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  max-width: 1170px;
  margin: 0 auto;
}
.video_box .wrapper_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.main_content {
  background: #fff;
  color: #000;
  padding: 45px 50px 43px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main_content .box_title_content {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #000;
  padding-bottom: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main_content .box_title_content h3.center_title {
  letter-spacing: 4px;
}
.main_content .box_title_content .center_subtitle {
  color: #a6a8ab;
  letter-spacing: 4px;
}
.main_content .box_content {
  padding: 30px 0 25px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main_content .box_content .point_title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 35px;
  letter-spacing: 4px;
}
.main_content .box_content .point_description {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 2.8px;
}
.separator_box h2.slogan {
  letter-spacing: 4px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 37px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.next_lesson {
  background: #515151;
  border: 15px solid #fff;
  color: #fff;
  display: flex;
  margin-bottom: 65px;
}
.next_lesson .next_video_box {
  width: 525px;
  text-align: center;
}
.next_lesson .next_video_box .video_box_title {
  text-transform: uppercase;
  padding-top: 27px;
  letter-spacing: 2.5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
}
.next_lesson .next_video_box .video_box_subtitle {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}
.next_lesson .next_video_box figure > img {
  border: 10px solid #fff;
}
.next_lesson .next_video_box figure {
  position: relative;
  margin-top: 23px;
  margin-bottom: 143px;
}
.next_lesson .next_video_box figcaption {
  position: absolute;
  top: -29px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.next_lesson .next_video_box figcaption .title_data {
  font-size: 18px;
}
.next_lesson .next_video_box figcaption .title_data .video_title {
  line-height: 43px;
  letter-spacing: 2px;
}
.next_lesson .next_video_box figcaption .title_data .video_subtitle {
  font-weight: 600;
  letter-spacing: 2px;
}
.next_lesson .next_review {
  width: calc(100% - 525px);
  display: flex;
  padding-right: 20px;
  -webkit-align-items: center;
  align-items: center;
}
.next_lesson .next_review ul {
  margin-left: 18px;
}
.next_lesson .next_review ul > li {
  margin-bottom: 20px;
}
.next_lesson .next_review ul > li > span {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 3.2px;
}
.footer_box {
  background: #fff;
}
.footer_box .inner_footer_box {
  display: flex;
  padding: 90px 0 230px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer_box .inner_footer_box .logo_footer_box {
  width: 490px;
}
.footer_box .inner_footer_box .logo_footer_box a > img {
  margin-left: 40px;
}
.footer_box .inner_footer_box .call_action_box {
  width: calc(100% - 490px);
}
.footer_box .inner_footer_box .call_action_box .action_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 3.3px;
  margin-top: 10px;
}
.footer_box .inner_footer_box .call_action_box .action_subtitle {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 2.5px;
}
.footer_box .inner_footer_box .call_action_box ul {
  margin-bottom: 50px;
  margin-top: 33px;
  list-style: none;
}
.footer_box .inner_footer_box .call_action_box ul > li {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
  margin-left: 25px;
  letter-spacing: 2.5px;
}
.footer_box .inner_footer_box .call_action_box ul > li::before {
  content: '✔';
  position: absolute;
  top: -7px;
  left: -28px;
  color: #c01d52;
  font-weight: 600;
}
.footer_box .inner_footer_box .call_action_box a.action_button {
  color: #fff;
  text-transform: uppercase;
  background: #005b93;
  padding: 20px 50px;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
}
.footer_box .inner_footer_box .call_action_box a.action_button:hover {
  cursor: pointer;
  background: #02466f;
  text-decoration: underline;
}
.main_content {
  padding: 45px 20px;
}
.next_lesson .next_review {
  padding-right: 40px;
}
.footer_box .inner_footer_box .call_action_box {
  padding-right: 10px;
}
.video_box {
  height: 574px;
}
.next_lesson .next_review {
  width: calc(100% - 575px);
}
.footer_box .inner_footer_box .call_action_box {
  width: calc(100% - 560px);
}
@media only screen and (max-width: 1075px) {
  .wrapper {
    width: calc(100% - 20px);
  }
  .video_box {
    height: 56vw;
  }
}
@media only screen and (max-width: 1021px) {
  .footer_box .inner_footer_box .call_action_box a.action_button {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 22px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 940px) {
  .next_lesson .next_review ul > li > span {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.2px;
  }
  .main_content .box_content .point_description {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.5px;
  }
  .footer_box .inner_footer_box .call_action_box .action_subtitle {
    font-size: 17px;
    line-height: 31px;
    letter-spacing: 2px;
  }
  .footer_box .inner_footer_box .call_action_box ul {
    margin-bottom: 40px;
    margin-top: 25px;
    list-style: none;
  }
}
@media only screen and (max-width: 870px) {
  .inner_header .header_message {
    font-size: 22px;
  }
  .inner_header .header_message h2.header_title {
    letter-spacing: 2px;
  }
  .inner_header .header_message p.slogan {
    letter-spacing: 2.5px;
  }
  .inner_header .header_message p.number_lesson {
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  .footer_box .inner_footer_box {
    padding: 90px 0 100px 0;
  }
  .footer_box .inner_footer_box .logo_footer_box {
    width: 460px;
  }
}
@media only screen and (max-width: 830px) {
  .next_lesson {
    flex-direction: column;
  }
  .next_lesson .next_video_box {
    width: 100%;
  }
  .next_lesson .next_video_box figure > img {
    border: 7px solid #fff;
    width: 90%;
  }
  .next_lesson .next_video_box figure {
    margin-bottom: 30px;
  }
  .next_lesson .next_review {
    width: 90%;
    margin: 0 auto;
    padding-right: 0;
  }
  .footer_box .inner_footer_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 45px 0 70px 0;
  }
  .footer_box .inner_footer_box .call_action_box {
    width: 90%;
    margin-top: 30px;
  }
  .footer_box .inner_footer_box .logo_footer_box {
    width: 316px;
  }
  .footer_box .inner_footer_box .logo_footer_box a > img {
    margin-left: 0;
  }
}
@media only screen and (max-width: 776px) {
  .main_content .box_content .point_title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .main_content .box_content .point_description {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  .main_content {
    padding: 45px 20px 20px 20px;
  }
  .footer_box .inner_footer_box .call_action_box .action_title {
    font-size: 23px;
    letter-spacing: 3px;
  }
  .inner_footer_box .call_action_box .action_subtitle {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 2px;
  }
  .inner_footer_box .call_action_box ul {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .footer_box .inner_footer_box .call_action_box ul > li {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 1.5px;
  }
}
@media only screen and (max-width: 680px) {
  .inner_header .header_message {
    font-size: 18px;
  }
  .inner_header .header_message h2.header_title {
    letter-spacing: 1px;
  }
  .inner_header .header_message p.slogan {
    letter-spacing: 1.5px;
  }
  .inner_header .header_message p.number_lesson {
    font-size: 17px;
    letter-spacing: 0.5px;
  }
  .video_box {
    height: 54vw;
  }
  .video_box .wrapper_video {
    width: auto;
  }
  .main_content .box_content .point_title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .inner_header {
    margin: 25px;
    flex-direction: column;
  }
  .inner_header .logo_container {
    margin-bottom: 20px;
  }
  .video_box {
    margin-bottom: 40px;
  }
  .separator_box h2.slogan {
    letter-spacing: 2px;
    font-size: 28px;
  }
}
@media only screen and (max-width: 480px) {
  .inner_header .logo_container a.logo {
    width: 100%;
    height: 55px;
  }
  .inner_header .logo_container a.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .separator_box h2.slogan {
    letter-spacing: 1px;
    font-size: 24px;
  }
  .next_lesson .next_review ul > li > span {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
  }
  .footer_box .inner_footer_box .logo_footer_box {
    height: 65px;
  }
  .footer_box .inner_footer_box .logo_footer_box a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .footer_box .inner_footer_box {
    padding: 30px 0 50px 0;
  }
  .footer_box .inner_footer_box .call_action_box {
    margin-top: 20px;
  }
  .footer_box .inner_footer_box .call_action_box .action_title {
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .footer_box .inner_footer_box .call_action_box .action_subtitle {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 2px;
  }
  .footer_box .inner_footer_box .call_action_box ul {
    margin-bottom: 30px;
    margin-top: 19px;
  }
}
@media only screen and (max-width: 438px) {
  .main_content .box_title_content h3.center_title {
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .main_content .box_title_content .center_subtitle {
    letter-spacing: 2px;
  }
  .main_content .box_title_content {
    padding-bottom: 25px;
  }
  .main_content {
    padding: 25px 20px 20px 20px;
  }
  .main_content .box_content {
    padding: 30px 0 0px 0;
  }
  .inner_header {
    margin: 25px 0;
  }
}
@media only screen and (max-width: 383px) {
  .box_title_content {
    font-size: 24px;
  }
  .main_content .box_title_content .center_subtitle,
  .main_content .box_title_content h3.center_title {
    letter-spacing: 1px;
    font-size: 22px;
  }
  .separator_box h2.slogan {
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 30px;
  }
  .next_lesson .next_video_box .video_box_subtitle {
    font-size: 20px;
  }
  .next_lesson .next_video_box figcaption {
    top: -9px;
  }
  .next_lesson .next_review ul > li > span {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }
  .footer_box .inner_footer_box .call_action_box .action_subtitle {
    line-height: 27px;
  }
  .main_content .box_content .point_title {
    font-size: 22px;
    letter-spacing: 0.5px;
  }
  .footer_box .inner_footer_box .call_action_box a.action_button {
    padding: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .inner_header .header_message p.slogan {
    letter-spacing: 0;
  }
  .main_content .box_content .point_description {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
  }
  .footer_box .inner_footer_box .call_action_box .action_subtitle {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .footer_box .inner_footer_box .call_action_box ul > li {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
  .footer_box .inner_footer_box .call_action_box a.action_button {
    font-size: 20px;
    line-height: 28px;
  }
}
