@import "reset.css";

@yellow:#ffea00;
@white:#fff;
@orange:#ff742b;

.fredoka_font(){
	font-family: 'Fredoka One', cursive;	
}
.quicksand_font(){
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}
.raleway_font(){
	font-family: 'Raleway', sans-serif;
}
.ptSerif_font(){
	font-family: 'PT Serif', serif;
}

body{
	.raleway_font();
	background-color: #FFF9E7;
	
	.container{
		background: transparent url("img/bg.png") no-repeat bottom right;
	}
	
}
.ptseriffont{
	.ptSerif_font();
}
.wrapper{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.header_top{
	width: 100%;
	height: 48px;
	background:@orange;
	background:linear-gradient(#ff8331,#ff6626);

	.inner_header{
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
		height: 48px;
		.logo{
		    -webkit-align-self: flex-end;
		            align-self: flex-end;
			img{
				display: block;
			}
		}
		.main_navigation{
			-webkit-flex-grow: 2;
			        flex-grow: 2;
		}
		.header_cart{
			.quicksand_font();
			color:white;
			i{
				color:@yellow;
			}
			a.ptseriffont{
				font-size: 14px;
				font-style: italic;
				color: @yellow;
			}
			.cart_counter{
				border-right:1px dotted rgba(255,255,255,0.2);
				padding-right: 10px;
				margin-right: 5px;
				padding-left: 5px;
			}
		}
		nav{
			.quicksand_font();
			text-transform: uppercase;
			>ul{
				font-size: 0;
				>li{
					display: inline-block;
					font-size: 12px;
					margin: 0 17px;
					line-height:48px;
					border-top:2px solid transparent;
					position: relative;
					z-index:2;
					ul.submenu{
						&::before{
							content: "";
							display: block;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 4.5px 4px 4.5px;
							border-color: transparent transparent #ffffff transparent;
							position: absolute;
							top:-4px;
							left:34px;
						}
						position: absolute;
						top:100%;
						left:0;
						background: white;
						-webkit-box-shadow: 5px 5px 0 rgba(0,0,0,0.07);
						        box-shadow: 5px 5px 0 rgba(0,0,0,0.07);
						li{
							a{
								color: #7B7A79;
								
								&:hover{
									color:@orange;
								}
							}
							margin: 0 17px;
								
						}
						display:none;				
					}

					&:hover{ul.submenu{display:block;}
							border-top:2px solid @yellow;
							a{
								color:@yellow;
							}
						}
					a{
						color:white;
						text-decoration: none;
						line-height: 46px;
						display: block; 
					}
				}
			}
		}
	}
}
.home_slider{
	.slide{
		padding-top: 100px;
		padding-bottom: 37px;
		background-position: center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		min-height: 660px;
		.slide_title{
			.fredoka_font();
			font-size: 68px;
			color:white;
			text-align: center;
			text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1);
			line-height: 82px;
		}
		.slide_data{
			display:flex;
			-webkit-align-items: center;
			        align-items: center;
			.slide_description{
				width:37%;
				z-index:2;
				padding-left: 90px;
				box-sizing:border-box;
				.data_type{
					.fredoka_font();
					font-size: 24px;
					color: @yellow;
					line-height: 24px;
					margin-bottom: 25px;
					display: inline-block;
				}
				p.data_description{
					color: #FFF;
					.raleway_font();
					font-size:12px;
					line-height: 24px;
					font-weight:500;
					margin-bottom: 20px;
				}
				span.data_quote{
					.ptSerif_font();
					font-style: italic;
					font-size: 23px;
					color: #FFF;
					line-height: 28px;
				}
			}
			.image_price{
				width: 50%;
				margin-left: -60px;
				z-index:1;
				position: relative;
				.slide_price{
					position: absolute;
					right: 0;
					top:calc(50% - 71px);
					width: 143px;
					height: 143px;
					background: #4ba321;
					border-radius:100%;
					display: flex;
					-webkit-align-items: center;
					        align-items: center;
					-webkit-justify-content: center;
					        justify-content: center;
					span{
						color:@yellow;
						.fredoka_font();
						font-size: 54px;
						text-shadow:7px 7px 0 rgba(0,0,0,0.1);
					}
				}
			}
		}
		
	}
}